@using VenderTracker.Models

@{
  Layout = "_Layout";
}
  <h2>@Model.Title</h2>
  <h4><span>Type:</span> @Model.Type</h4>
  <h4><span>Amount:</span> @Model.Amount</h4>
  <h4><span>Price:</span> @Model.Price</h4>
  <h4><span>Due Date:</span> @Model.Date</h4>